/* -*- mode: css; -*- */

/* --black-color: #000000; */
/* --red-color:        #eb6e67; */
/* --green-color:      #95ee8f; */
/* --yellow-color:     #f8c456; */
/* --blue-color:       #6eaafb; */
/* --mangenta-color:   #d886f3; */
/* --cyan-color:       #6cdcf7; */
/* --emphasis-color:   #50536b; */
/* --text-color:       #dfdfdf; */
/* --text-alt-color:   #b2b2b2; */
/* --fg-color:         #abb2bf; */
/* --bg-color:         #282c34; */

window {
    margin: 5px;
    border: 2px solid #50536b;
    background-color: #282c34
}

#input {
    margin: 5px;
    color: #dfdfdf;
    border: 2px solid #50536b;
    border-radius: 0;
    background-color: #282c34;
}

#inner-box {
    margin: 5px;
    background-color: #282c34;
}

#outer-box {
    margin: 5px;
    background-color: #282c34;
}

#scroll {
    margin: 5px;
    background-color: #282c34;
}

#text {
    margin: 5px;
    color: #dfdfdf;
} 
